@if (isOpen()) {
  <div class="modal modal-open">
    <div class="modal-box">
      <h3 class="font-bold text-lg mb-4">{{ title() }}</h3>
      <p class="py-4">{{ message() }}</p>
      <div class="modal-action">
        <button
          (click)="onCancel()"
          class="btn btn-ghost"
          type="button"
        >
          {{ cancelText() }}
        </button>
        <button
          (click)="onConfirm()"
          class="btn {{confirmButtonClass()}}"
          type="button"
        >
          {{ confirmText() }}
        </button>
      </div>
    </div>
  </div>
}
